<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile page - Visual Story</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="../static/lib/jquery-3.7.1.min.js"></script>
</head>
<body>

<!-- Navigation Bar !-->
<nav>
    <div class="nav-left">
        <img src="../static/assets/images/visual_story_logo.png" alt="" class="logo">
    </div>

    <div class="nav-center">
        <ul class="nav-links">
            <li><a href="{{ url_for('root') }}"><i class="bi bi-house"></i></a></li>
            <li><a href="#"><i class="bi bi-search"></i></a></li>
        </ul>
    </div>

    <div class="nav-right">
        <!--        <div class="search-box">-->
        <!--            <img src="../static/assets/images/search.png" alt="">-->
        <!--            <input type="text" placeholder="Search">-->
        <!--        </div>-->
        <ul id="nav-buttons">
            <!--            <li><a href="#"><i class="bi bi-bell"></i></a></li>-->
            <li><a id="loginBtn" href="{{ url_for('login') }}"><i class="bi bi-box-arrow-in-left"
                                                                  style="font-size: 20px; position: relative; top: 1.5px;"></i></a>
            </li>
            <li>
                <a id="logoutBtn" href="{{ url_for('logout') }}"><i class="bi bi-box-arrow-right"
                                                                    style="font-size: 20px; position: relative; top: 1.5px;"></i></a>
            </li>
        </ul>
        <div class="nav-user-icon online">
            <a href="{{ url_for('profile') }}"><img id="navProfilePicture" src="../static/assets/profile_pictures/default-avatar.png" alt=""></a>
        </div>
    </div>

    <!-- Settings Menu !-->
    <!--    <div class="settings-menu">-->
    <!--        <div id="dark-btn">-->
    <!--            <span></span>-->
    <!--        </div>-->

    <!--        <div class="settings-menu-inner">-->
    <!--            <div class="user-profile">-->
    <!--                <img src="../static/assets/images/profile-pic.png" alt="">-->
    <!--                <div>-->
    <!--                    <p>John Nicholson</p>-->
    <!--                    <a href="#">See your profile</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <hr>-->

    <!--            <div class="user-profile">-->
    <!--                <img src="../static/assets/images/feedback.png" alt="">-->
    <!--                <div>-->
    <!--                    <p>Give Feedback</p>-->
    <!--                    <a href="#">Help us to improve the new design</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <hr>-->

    <!--            <div class="settings-links">-->
    <!--                <img src="../static/assets/images/setting.png" alt="" class="settings-icon">-->
    <!--                <a href="#">Settings & Privacy <img src="../static/assets/images/arrow.png" alt="" width="10px"></a>-->
    <!--            </div>-->

    <!--            <div class="settings-links">-->
    <!--                <img src="../static/assets/images/help.png" alt="" class="settings-icon">-->
    <!--                <a href="#">Help & Support <img src="../static/assets/images/arrow.png" alt="" width="10px"></a>-->
    <!--            </div>-->

    <!--            <div class="settings-links">-->
    <!--                <img src="../static/assets/images/display.png" alt="" class="settings-icon">-->
    <!--                <a href="#">Display & Accessibility <img src="../static/assets/images/arrow.png" alt=""-->
    <!--                                                         width="10px"></a>-->
    <!--            </div>-->

    <!--            <div class="settings-links">-->
    <!--                <img src="../static/assets/images/logout.png" alt="" class="settings-icon">-->
    <!--                <a href="{{ url_for('login') }}">Logout <img src="../static/assets/images/arrow.png" alt=""-->
    <!--                                                             width="10px"></a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</nav>

<!-- Profile !-->
<div class="profile-container">
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">
                <img id="uploadProfilePictureBtn" src="../static/assets/profile_pictures/default-avatar.png" alt="" class="pd-image">
                <input id="profilePictureInput" type="file" style="display: none" accept="image/*">
                <div>
                    <h3>Jack Nicholson</h3>
                    <p>120 Friends - 20 mutual</p>
                    <img src="../static/assets/images/member-1.png" alt="">
                    <img src="../static/assets/images/member-2.png" alt="">
                    <img src="../static/assets/images/member-3.png" alt="">
                    <img src="../static/assets/images/member-4.png" alt="">
                </div>
            </div>
        </div>

        <div class="pd-right">
            <button type="button"><img src="../static/assets/images/add-friends.png" alt=""> Friend</button>
            <!--            <button type="button"><img src="../static/assets/images/message.png" alt=""> Message</button>-->
            <!--            <br>-->
            <!--            <a href="#"><img src="../static/assets/images/more.png" alt=""></a>-->
        </div>
    </div>

    <div class="profile-info">
        <div class="info-col">
            <div class="profile-intro">
                <h3>Intro</h3>
                <p class="intro-text">Believe in yourself and you can do unbelievable things. <img
                        src="../static/assets/images/feeling.png" alt=""></p>
                <hr>
                <ul>
                    <li><img src="../static/assets/images/profile-job.png" alt=""> Director at 99media Ltd</li>
                    <li><img src="../static/assets/images/profile-study.png" alt=""> Studied at Amity University</li>
                    <li><img src="../static/assets/images/profile-study.png" alt=""> Went to DPS Delhi</li>
                    <li><img src="../static/assets/images/profile-home.png" alt=""> Lives in Bangalore, India</li>
                    <li><img src="../static/assets/images/profile-location.png" alt=""> From Bangalore, India</li>
                </ul>
            </div>

            <!--            <div class="profile-intro">-->
            <!--                <div class="title-box">-->
            <!--                    <h3>Photos</h3>-->
            <!--                    <a href="#">All Photos</a>-->
            <!--                </div>-->

            <!--                <div class="photo-box">-->
            <!--                    <div><img src="../static/assets/images/photo1.png" alt=""></div>-->
            <!--                    <div><img src="../static/assets/images/photo2.png" alt=""></div>-->
            <!--                    <div><img src="../static/assets/images/photo3.png" alt=""></div>-->
            <!--                    <div><img src="../static/assets/images/photo4.png" alt=""></div>-->
            <!--                    <div><img src="../static/assets/images/photo5.png" alt=""></div>-->
            <!--                    <div><img src="../static/assets/images/photo6.png" alt=""></div>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="profile-intro">
                <div class="title-box">
                    <h3>Friends</h3>
                    <a href="#">All Friends</a>
                </div>
                <p>120 (10 mutual)</p>
                <div class="friends-box">
                    <div><img src="../static/assets/images/member-1.png" alt="">
                        <p>Joseph N</p></div>
                    <div><img src="../static/assets/images/member-2.png" alt="">
                        <p>Nathan N</p></div>
                    <div><img src="../static/assets/images/member-3.png" alt="">
                        <p>George D</p></div>
                    <div><img src="../static/assets/images/member-4.png" alt="">
                        <p>Francis L</p></div>
                    <div><img src="../static/assets/images/member-5.png" alt="">
                        <p>Anthony E</p></div>
                    <div><img src="../static/assets/images/member-6.png" alt="">
                        <p>Michael A</p></div>
                    <div><img src="../static/assets/images/member-7.png" alt="">
                        <p>Edward M</p></div>
                    <div><img src="../static/assets/images/member-8.png" alt="">
                        <p>Bradon C</p></div>
                    <div><img src="../static/assets/images/member-9.png" alt="">
                        <p>James Doe</p></div>
                </div>
            </div>
        </div>

        <div class="post-col">
            <!--            <div class="write-post-container">-->
            <!--                <div class="user-profile">-->
            <!--                    <img src="../static/assets/images/profile-pic.png" alt="">-->
            <!--                    <div>-->
            <!--                        <p>John Nicholson</p>-->
            <!--                        <small>Public <i class="bi bi-caret-down-fill"></i></small>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="post-input-container">-->
            <!--                    <textarea rows="3" placeholder="What's on your mind, John?"></textarea>-->
            <!--                    <div class="add-post-links">-->
            <!--                        <a href="#"><i class="bi bi-image-fill"></i></a>-->
            <!--                        <a href="#"><i class="bi bi-tag-fill"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <button type="submit" class="add-post-btn">Post</button>-->
            <!--            </div>-->

            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="../static/assets/profile_pictures/default-avatar.png" alt="">
                        <div>
                            <p>John Nicholson</p>
                            <span>June 24 2021, 13:40 pm</span>
                        </div>
                    </div>
                    <a href="#"><i class="bi bi-three-dots-vertical"></i></a>
                </div>

                <p class="post-text">Subscribe <span>@Easy Tutorials</span> YouTube channel to watch more videos on
                    website
                    development and UI designs.
                    <a href="#">#EasyTutorials</a> <a href="#">#YouTubeChannel</a></p>
                <img src="../static/assets/images/feed-image-1.png" alt="" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <!--                        <div><img src="../static/assets/images/like-blue.png" alt=""> 120</div>-->
                        <!--                        <div><img src="../static/assets/images/comments.png" alt=""> 45</div>-->
                        <!--                        <div><img src="../static/assets/images/share.png" alt=""> 20</div>-->
                    </div>
                    <!--                    <div class="post-profile-icon">-->
                    <!--                        <img src="../static/assets/images/profile-pic.png" alt=""> <i class="bi bi-caret-down-fill"></i>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer !-->
<div class="footer">
    <p>Copyright 2021 - Easy Tutorials YouTube Channel</p>
</div>

<script src="../static/scripts/profile.js"></script>

</body>
</html>